@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "DM Sans", sans-serif;
}
p {
  letter-spacing: 0.5px;
}

#main {
  width: 100%;
  height: 100%;
  background-color: hsl(27, 66%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 17px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(10, 79%, 65%);
  width: 436px;
  height: 100px;
  border-radius: 14px;
  padding: 0 28px;
  color: white;
  transition: all 200ms;
}

.top p {
  font-size: 15px;
  font-weight: 250;
  margin-bottom: 4px;
}

.bottom {
  height: 380px;
  width: 436px;
  border-radius: 14px;
  background-color: white;
  padding: 22px 28px;
  transition: all 200ms;
}

.bottom h2 {
  margin-left: 5px;
}

.charts {
  display: flex;
  gap: 1.5px;
  justify-content: center;
  align-items: end;
  text-align: center;
  padding: 13px 0 20px 0;
  border-bottom: 1px solid hsl(27, 66%, 92%);
  color: hsl(28, 10%, 53%);
}

.charts p {
  font-size: 14.5px;
  margin-top: 5px;
}

.chart {
  transform: scaleX(0);
  transition: transform 450ms ease-in;
  transition: all 250ms;
}

.chart-1,
.chart-2,
.chart-4,
.chart-5,
.chart-6,
.chart-7 {
  background-color: hsl(10, 79%, 65%);
  width: 39px;
  border-radius: 4px;
}

.chart-3 {
  width: 39px;
  height: 125px;
  background-color: hsl(186, 34%, 60%);
  border-radius: 4px;
}

.chart-1 {
  height: 40px;
}

.chart-2 {
  height: 75px;
}

.chart-4 {
  height: 68px;
}

.chart-5 {
  height: 50px;
}

.chart-6 {
  height: 100px;
}

.chart-7 {
  height: 60px;
}

.charts-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.tooltip {
  color: white;
  background-color: black;
  width: 52px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transform: scaleX(0);
  transition: all 200ms;
  cursor: pointer;
  font-size: 14px;
}

.charts-cont:hover .tooltip {
  transform: scaleX(1);
}

.charts-cont:hover .chart {
  background-color: white;
  border: 1px solid hsl(10, 79%, 65%);
}

.wed:hover .chart-3 {
  background-color: white;
  border: 1px solid hsl(186, 34%, 60%);
}

.dets {
  height: 60px;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.left {
  align-self: flex-start;
}

.dets p {
  color: hsl(28, 10%, 53%);
  font-size: 14.8px;
}

.left h1 {
  font-size: 35px;
}

/*
Media Queries
*/

@media (max-width: 480px) {
  .top {
    width: 410px;
    padding: 0 25px;
    height: 100px;
  }

  .top p {
    font-size: 14.7px;
  }

  .bottom {
    padding: 22px 25px;
    width: 410px;
  }

  .charts {
  }

  .charts p {
    font-size: 14.3px;
  }

  .chart-1,
  .chart-2,
  .chart-4,
  .chart-5,
  .chart-6,
  .chart-7 {
    width: 37.5px;
  }

  .chart-3 {
    width: 37.5px;
  }

  .tooltip {
    width: 50.5px;
    height: 28.6px;
    font-size: 13.6px;
  }

  .dets p {
    font-size: 14.6px;
  }

  .left h1 {
    font-size: 34px;
  }
}

@media (max-width: 430px) {
  .top {
    width: 380px;
    padding: 0 20px;
  }

  .top p {
    font-size: 14.5px;
  }

  .bottom {
    width: 380px;
    padding: 22px 20px;
  }
  .charts {
    gap: 1px;
  }
  .charts p {
    font-size: 14px;
  }

  .chart-1,
  .chart-2,
  .chart-4,
  .chart-5,
  .chart-6,
  .chart-7 {
    background-color: hsl(10, 79%, 65%);
    width: 35px;
  }

  .chart-3 {
    width: 35px;
  }

  .tooltip {
    width: 59px;
    font-size: 13.2px;
  }

  .dets p {
    font-size: 14.2px;
  }

  .left h1 {
    font-size: 33px;
  }
  .mon {
    margin: 0 -6px 0 0;
  }

  .sun {
    margin: 0 0 0 -6px;
  }

  .tue,
  .wed,
  .sat,
  .thu,
  .fri {
    margin: 0 -6px;
  }
}

@media (max-width: 415px) {
  .top {
    width: 342px;
    padding: 0 14px;
  }

  .top p {
    font-size: 14px;
  }

  .bottom {
    width: 342px;
    padding: 22px 14px;
  }
  .charts {
    gap: 8px;
  }
  .charts p {
    font-size: 13.8px;
  }

  .chart-1,
  .chart-2,
  .chart-4,
  .chart-5,
  .chart-6,
  .chart-7 {
    width: 33.8px;
  }

  .chart-3 {
    width: 33.8px;
  }

  .tooltip {
    width: 50px;
    font-size: 12.9px;
  }

  .dets p {
    font-size: 13.8px;
  }

  .left h1 {
    font-size: 31.5px;
  }
}
